//Partials imports
@import 'style/icons', 'style/variables';
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
}

#container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.container-header {
    background-color: #fff;
}
.main {
    background-color: #fff;
    position: relative;
    transition: all .5s;
    z-index: 10;
    left: 0;
}
.other{
  padding-left: 15px;
  padding-right: 15px;
}
.header-large {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
    padding-bottom: 15px;
}
.header-high {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
}
@media (min-width: 992px){
.search-bar {
    max-width: 66px;
}
}
@media (min-width: 768px){
.search-bar {
    font-size: 1em;
    fill: #fff;
}
}
@media (min-width: 768px){
.search-bar {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-right: -2px !important;
    height: 57px !important;
    max-width: 243px;
}
}
.search-bar {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
@media (min-width: 992px) and (max-width: 1259px){
.search-box {
    display: none;
}
}
@media (min-width: 768px){
.search-box {
    padding: 1em;
    flex: 1;
    background-color: #fff;
    max-width: 175px;
}
}
@media (min-width: 767px){
.search-box {
    width: 142px;
    padding: 5px 15px;
    border: 1px 0 1px 1px #999AA2;
}
}
@media (min-width: 768px){
input[type=text] {
    border: 1px solid #ccc;
    outline: none;
    font-size: 1em;
    height: 57px;
}
}
@media (min-width: 767px){
.header-row {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
}
}
@media (min-width: 768px){
.search-bar button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    padding: 16px 20px;
    border-radius: 3px;
    background-color: #999aa2;
    border: none;
    outline: none;
    border-radius: 0 5% 5% 0;
    cursor: pointer;
}
}
#header {
  color: #fff;
}
@media (max-width: 767px){
.header-small {
    padding: 15px 20px;
}
}
.header-small{
  padding-top: 20px;
    padding-bottom: 20px;
}
.header-small-logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.hamburger {
  position: relative;
  top: 1px;
  display: inline-block;
  font-size: 21px;
  width: 63px;
  height: 56px;
  background-color: #333645;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
}
.btn-hamburger {
  height: 56px;
  border-radius: 3px;
}
.container-mobile {
  display: table-cell;
  vertical-align: middle;
}
.phone {
  text-decoration: none;
  font-size: 32px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  color: #333645;
}
.search-small {
  border: 2px solid #CECECE;
  background-color: #E5E5E5;
  height: 41px;
  border-radius: 3px;
}
.search-2 {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  border: 1px #ccc;
}
.menu-1{
  width: 33px;
  height: 4px; 
}
.icon-menu {
  top: 50%;
  left: 25%;
  display: block;
  margin-top: -2px;
  font-size: 40px;
}
.icon-search-2{
  font-size: 24px;
  font-weight: 400;
  color: #333645;
  background-color: transparent;
  position: relative;
  top: 10px;
  right: 10px; 
}

.search-box-2 {
  width: 100%;
  border: none;
  position: relative;
  background: transparent;
  height: 47px;
  padding-left: 15px;
}
.icon-search {
  font-size: 24px;
  font-weight: 400;
  background-color: transparent;

}

.nm-logo-black {
  max-width: 100%;
  height: 60px;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: auto;
}
html {
    font-size: 16px;
font-family: 'Poppins', sans-serif;   
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    padding: 1.5vh 0;
    text-transform: capitalize;
  }
  
  h2 {
    font-size: 32px;
    font-weight: 600;
  }
 
  h3 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 24px;
  }
  
  h4 {
    font-weight: 400;
    margin: 25px 0;
  }
  @media (min-width: 992px) {
    html {
      font-size: 16px;
    }
    .h1, h1 {
      font-size: 2.25rem;
      font-weight: 400;
      margin: 0 0 28px;
      color: #333645;
    }
    .h2, h2 {
      font-size: 2rem;
    }
    .h2, .h3, .h4, h2, h3, h4 {
      font-weight: 400;
      margin: 0 0 15px;
      color: #333645;
    }
    .sub-menu-banner-title {
      color: #fff;
    }
    .h3, .h4, h3, h4 {
      font-size: 1.25rem;
    }
    .h3, h3 {
      font-size: 1.625rem;
    }
    .h4, h4 {
      font-size: 1rem;
    }
    p {
      line-height: 1.875rem;
      margin-bottom: 25px;
    }
  }
  body {
    display: inherit;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    line-height: 1.42857143;
    letter-spacing: .4px;
    text-align: center;
    color: #464d5c;
    background-color: #fff;
    width: 100%;
    padding: 0px;
    margin: 0;
  }
  @media (min-width: 992px){
p {
    line-height: 1.875rem;
    margin-bottom: 25px;
}
  }
  .img-cover-modern {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.bottom-header a{
  color: white;
}
 
.header-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
header .inner .actions .btn {
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    float: left;
}

.btn {
  display: inline-block;
  font-weight: 400;
  height: auto;
  line-height: 35px;
  padding: 6px 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 2px;
  color: white;
  row-gap: 0.625em;
}

.btn-help-contact {
    color: #fff;
    background-color: #999aa2;
    border-color: #999aa2;
}
.btn-help-support {
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;
}

@media (min-width: 992px) {
	.header-row {
		width: 970px;
	}
}
.btn-help {
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    padding: 5px 10px;
    width: 151px;
    border-radius: 3px;
}
.element {
    display: inline-block;
    margin-right: 10px; 
  }
  .search-form-tablet-btn {
    width: 63px;
    border-radius: 0 3px 3px 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #999aa2;
    border: none;
    cursor: pointer;
}

.form-control {
    height: 47px;
    width: 100%;
}

a{
    text-decoration: none;
}
header a{
    color: white;
}
  .mw {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100vw;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .sub-menu-banner {
    width: 100%;
    display: none;
    text-align: left;
    position: absolute;
  }
 
  
  .nav:hover [class^="icon-"]::before {
    color: #fff;
  }
  
  .nav:hover .sub-menu {
    padding: 30px;
    top: 19px;
    width: 100vw;
  }
  
  .nav:hover .icon-hover {
    color: #fff;
  }
  
  .nav:hover .icon-hover {
    color: #fff;
  }
  
  .sub-menu-banner a:hover {
    text-decoration: underline;
  }
  @media (min-width: 767px) {
    .header-high {
      justify-content: space-flex-start;
      padding-top: 25px;
      padding-bottom: 15px;
    }
  
    .hamburger {
      margin: 0px;
    }
    .header-low {
      display: none;
    }
    .search {
      display: inline-flex;
      width: 174px;
      justify-content: flex-end;
      border: 1px #ccc;
    }
    .search-box {
      width: 142px;
      padding: 5px 15px;
      border: 1px 0 1px 1px #999AA2;
    }
    .search-box:focus {
      border-color: #5bc0de;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
    }
  }
  
  @media (min-width: 992px){
.bottom-header {
    background-color: #333645;
}
  }
  .p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text-align-md {
    text-align: center;
}

    .hamburger {
      margin-left: 0px;
    }
    .nav-bar {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      color: #fff;
      text-transform: uppercase;
      line-height: 1;
    }
    .nav-bar span {
      font-size: 1.125rem;
    }
    .nav-bar small {
      font-size: .625rem;
    }
    .nav-bar > div {
      flex-basis: 100%;
      padding: 19px 0 18px;
    }
    .nav > a {
      padding: 19px 0 18px;
    }
    .nav [class^="icon-"] {
      font-size: 23px;
    }
    .nav .sub-menu-banner-title {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 15px;
      font-weight: 500;
    }
    .nav:hover .sub-menu-banner {
      display: block;
      left: 0;
    }
    .nav:hover .triangle {
      display: block;
      content: "";
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0px 70px 36px 70px;
      border-color: transparent transparent #FF4532 transparent;
      transform: rotate(180deg);
      position: absolute;
      z-index: 2;
    }
    .nav:hover .sub-menu {
      display: flex;
      flex-wrap: wrap;
      margin-top: -33px;
      list-style: none;
      text-align: left;
      width: 970px;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
      flex-direction: row;
    }
    .nav:hover .link-text {
      margin-left: 10px;
    }
    .bespoke-color {
      background-color: #526781;
    }
    .it-support-color {
      background-color: #286abd;
    }
    .digital-color {
      background-color: #25A25A;
    }
    .telecoms-color {
      background-color: #BC2C28;
    }
    .web-color {
      background-color: #79539A;
    }
    .cyber-color {
      background-color: #DE093F;
    }
    .developer-color {
      background-color: #A3331D;
    }
    .bespoke-head:hover:hover {
      background-color: #67809F;
    }
    .bespoke-head:hover:hover .triangle {
      border-color: transparent transparent #67809F transparent;
    }
    .it-head:hover:hover {
        background-color: #4183d7;
      }
      .it-head:hover:hover .triangle {
        border-color: transparent transparent #4183d7 transparent;
      }
    .digital-head:hover:hover {
      background-color: #00b67b;
    }
    .digital-head:hover:hover .triangle {
      border-color: transparent transparent #00b67b transparent;
    }
    .digital-head:hover > .icon-bar-graph-h:before {
      color: #fff;
    }
    .telecoms-head:hover:hover {
      background-color: #D64541;
    }
    .telecoms-head:hover:hover .triangle {
      border-color: transparent transparent #D64541 transparent;
    }
    .web-head:hover:hover {
      background-color: #926FB1;
    }
    .web-head:hover:hover .triangle {
      border-color: transparent transparent #926FB1 transparent;
    }
    .cyber-head:hover:hover {
      background-color: #F62459;
    }
    .cyber-head:hover:hover .triangle {
      border-color: transparent transparent #F62459 transparent;
    }
    .developer-head:hover:hover {
      background-color: #ce4125;
    }
    .developer-head:hover:hover .triangle {
      border-color: transparent transparent #ce4125 transparent;
    }

  @media (min-width: 1260px) {
    .nav:hover .triangle {
      border-width: 0 85.5px 35px 85.5px;
    }
  }
  .bottom-header {
    margin-right: auto;
    margin-left: auto;
    border-left: #333645 solid 14px;
}
.align-center {
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (min-width: 767px){
  .header-elements {
      display: flex;
      gap: 20px;
      width: 100%;
      justify-content: flex-start;
  }
}
.banner-main {
    margin-left: -1px;
    width: auto;
}
.container-banner{
    background: url(https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-YLei.png)center/cover no-repeat;
    background-color: #000;
    opacity: 1.3;
    height: 550px;
    width: 100%;
}
@media screen and (min-width: 992px){
.banner {
    display: flex;
    justify-content: start;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
}
@media (min-width: 768px){
.wrapper {
    width: 750px;
    margin: auto;
}
}
.banner {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 60px 15px;
  color: #fff;
}
.wrapper {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px){
.banner-heading {
    font-size: 4.2rem;
    line-height: 5rem;
    margin-bottom: 0px;
}
}

#banner {
  overflow: hidden;
}
#banner a{
    
}
.banner-heading {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0 0 1.25rem;
    color: #fff;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}
.banner-text {
    margin-bottom: 0.375rem;
    font-size: 1.3rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.btn-whyus {
  margin-top: 5px;
  text-decoration: none;
  height: 50px;
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #926FB1;
    line-height: 50px;
    font-size: 1.2rem;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}
.service-heading {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
  }
@media (min-width: 768px){
.view-work{
    display: block;
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 0px !important;
    font-size: 1.625rem;
    font-weight: 600;
    text-align: right;
    color: #333645;
}
}
.view-work {
    display: block;
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 0px !important;
    font-size: 1.625rem;
    font-weight: 600;
    color: #333645;
  }
  a:hover {
    text-decoration: underline;
  }
  .float-container {
    display: block;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
    border: 1px solid #ccc;
    top: 0;
    transition: .5s;
  }
  
  .icon-circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    margin: 0 auto 17px;
}

.service-list h2 {
    font-size: 2.7rem;
  }
  .service-list h3 {
    font-size: 1.625rem;
  }
  .service-title .h1 {
    font-size: 2.7rem;
    margin-top: -13px;
    color: #333645;
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {
    .service-blocks {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }
  
  @media (min-width: 1260px) {
    .service-blocks {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
        .service-blocks-bottom {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {
    .service-blocks-bottom {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
  
  @media (min-width: 1260px) {
    .service-blocks-bottom {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  }
  .service-link {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
  }
 
  .service-link > span.h2 {
    padding-bottom: 10px;
  }
  .service-block-one,  {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    padding: 30px;
    display: flex;
    border-radius: 15px;
    text-align: center;
  }
  .service-block-one:hover, .btn-software:hover {
    top: -10px;
    transition: .5s ease;
  }
  .service-block-one .h2, .btn-software .h2 {
    font-size: 1.3rem;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0 0 11px;
  }
  .service-block-one .p, .btn-software .p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.375rem;
  }
  .service-block-one .btn, .btn-software .btn {
    min-width: 130px;
    max-width: 130px;
    font-size: 1.063rem;
    margin-bottom: 0;
    line-height: 35px;
    align-self: center;
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {
    .service-block-one, .btn-software {
      margin-right: 30px;
    }
  }
  
  @media (min-width: 1260px) {
    .service-block-one, .btn-software {
      margin-right: 30px;
    }
  }
  .service-block-one:hover, .btn-software:hover {
    background-color: #67809f;
    color: #fff;
  }

  .service-block-one:hover .btn-software, .btn-software:hover .btn-software {
    background-color: #fff;
    color: #67809f;
  }

  .service-block-one:hover .icon-circle-software, .btn-software:hover .icon-circle-software {
    color: #67809f;
    background-color: #fff;
  }
  .service-block-one:hover .icon-laptop, .btn-software:hover .icon-laptop {
    color: #67809f;
    background-color: #fff;
  }
  
  .service-block-two, .btn-it {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    padding: 30px;
    display: flex;
    border-radius: 15px;
  }
  .service-block-two:hover, .btn-it:hover {
    top: -10px;
    transition: .5s ease;
  }

  .service-block-two .h2, .btn-it .h2 {
    font-size: 1.3rem;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0 0 11px;
  }
  .service-block-two .p, .btn-it .p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.375rem;
  }
  .service-block-two .btn, .btn-it .btn {
    min-width: 130px;
    max-width: 130px;
    font-size: 1.063rem;
    margin-bottom: 0;
    line-height: 35px;
    align-self: center;
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {

    .service-block-two, .btn-it {
      margin-right: 30px;
    }
  }
  
  @media (min-width: 1260px) {
    .service-block-two, .btn-it {
      margin-right: 30px;
    }
  }

  .service-block-two:hover, .btn-it:hover {
    background-color: #4183d7;
    color: #fff;
  }
  .service-block-two:hover .btn-it, .btn-it:hover .btn-it {
    background-color: #fff;
    color: #4183d7;
  }
  .service-block-two:hover .icon-circle-it, .btn-it:hover .icon-circle-it {
    fill: #4183d7;
    background-color: #fff;
  }
  .service-block-two:hover .icon-display, .btn-it:hover .icon-display {
    color: #4183d7;
    background-color: #fff;
  }
  .service-block-three, .btn-dm {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    padding: 30px;
    display: flex;
    border-radius: 15px;
  }
  .service-block-three:hover, .btn-dm:hover {
    top: -10px;
    transition: .5s ease;
  }
  .service-block-three .h2, .btn-dm .h2 {
    font-size: 1.3rem;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0 0 11px;
  }
  .service-block-three .p, .btn-dm .p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.375rem;
  }
  .service-block-three .btn, .btn-dm .btn {
    min-width: 130px;
    max-width: 130px;
    font-size: 1.063rem;
    margin-bottom: 0;
    line-height: 35px;
    align-self: center;
  }
  
  @media (min-width: 1260px) {
    .service-block-three .p, .btn-dm .p {
      margin-bottom: 40px;
    }
  }
  .service-block-three:hover, .btn-dm:hover {
    background-color: #2ecc71;
    color: #fff;
  }
  .service-block-three:hover .btn-dm, .btn-dm:hover .btn-dm {
    background-color: #fff;
    color: #2ecc71;
  }
  .service-block-three:hover .icon-circle-dm, .btn-dm:hover .icon-circle-dm {
    fill: #2ecc71;
    background-color: #fff;
  }
  .service-block-three:hover .icon-bar-graph, .btn-dm:hover .icon-bar-graph {
    color: #2ecc71;
    background-color: #fff;
  }
  .service-block-four, .btn-ts {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    padding: 30px;
    display: flex;
    border-radius: 15px;
  }
  .service-block-four:hover, .btn-ts:hover {
    top: -10px;
    transition: .5s ease;
  }
  .service-block-four .h2, .btn-ts .h2 {
    font-size: 1.3rem;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0 0 11px;
  }
  .service-block-four .p, .btn-ts .p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.375rem;
  }
  .service-block-four .btn, .btn-ts .btn {
    min-width: 130px;
    max-width: 130px;
    font-size: 1.063rem;
    margin-bottom: 0;
    line-height: 35px;
    align-self: center;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .service-block-four, .btn-ts {
      margin-right: 15px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {
    .service-block-four, .btn-ts {
      margin-right: 15px;
    }
  }
  
  @media (min-width: 1260px) {
    .service-block-four, .btn-ts {
      margin-right: 15px;
    }
  }
  .service-block-four:hover, .btn-ts:hover {
    background-color: #d64541;
    color: #fff;
  }
 
  .service-block-four:hover .btn-ts, .btn-ts:hover .btn-ts {
    background-color: #fff;
    color: #d64541;
  }
  .service-block-four:hover .icon-circle-ts, .btn-ts:hover .icon-circle-ts {
    fill: #d64541;
    background-color: #fff;
  }
  .service-block-four:hover .icon-phone_in_talk, .btn-ts:hover .icon-phone_in_talk {
    color: #d64541;
    background-color: #fff;
  }
  .service-block-five, .btn-wd {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    padding: 30px;
    display: flex;
    border-radius: 15px;
  }
  .service-block-five:hover, .btn-wd:hover {
    top: -10px;
    transition: .5s ease;
  }
  .service-block-five .h2, .btn-wd .h2 {
    font-size: 1.3rem;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0 0 11px;
  }
  .service-block-five .p, .btn-wd .p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.375rem;
  }
  .service-block-five .btn, .btn-wd .btn {
    min-width: 130px;
    max-width: 130px;
    font-size: 1.063rem;
    margin-bottom: 0;
    line-height: 35px;
    align-self: center;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .service-block-five, .btn-wd {
      margin-left: 15px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {
    .service-block-five, .btn-wd {
      margin-left: 15px;
    }
  }
  
  @media (min-width: 1260px) {
    .service-block-five, .btn-wd {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .service-block-five:hover, .btn-wd:hover {
    background-color: #926fb1;
    color: #fff;
  }
  .service-block-five:hover .btn-wd, .btn-wd:hover .btn-wd {
    background-color: #fff;
    color: #926fb1;
  }
  .service-block-five:hover .icon-circle-wd, .btn-wd:hover .icon-circle-wd {
    fill: #926fb1;
    background-color: #fff;
  }
  .service-block-five:hover .icon-code, .btn-wd:hover .icon-code {
    color: #926fb1;
    background-color: #fff;
  }
  .service-block-six, .btn-cs {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    padding: 30px;
    display: flex;
    border-radius: 15px;
  }
  .service-block-six:hover, .btn-cs:hover {
    top: -10px;
    transition: .5s ease;
  }
  .service-block-six .h2, .btn-cs .h2 {
    font-size: 1.3rem;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0 0 11px;
  }
  .service-block-six .p, .btn-cs .p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.375rem;
  }
  .service-block-six .btn, .btn-cs .btn {
    min-width: 130px;
    max-width: 130px;
    font-size: 1.063rem;
    margin-bottom: 0;
    line-height: 35px;
    align-self: center;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .service-block-six, .btn-cs {
      margin-right: 15px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {
    .service-block-six, .btn-cs {
      margin-right: 15px;
    }
  }
  
  @media (min-width: 1260px) {
    .service-block-six, .btn-cs {
      margin-left: 15px;
      margin-right: 15px;
    }
    .service-block-six .btn-cs, .btn-cs .btn-cs {
      margin-left: 0;
    }
  }
  .service-block-six:hover, .btn-cs:hover {
    background-color: #f62459;
    color: #fff;
  }
  .service-block-six:hover .btn-cs, .btn-cs:hover .btn-cs {
    background-color: #fff;
    color: #f62459;
  }
  .service-block-six:hover .icon-circle-cs, .btn-cs:hover .icon-circle-cs {
    fill: #f62459;
    background-color: #fff;
  }

  .service-block-six:hover .icon-security, .btn-cs:hover .icon-security {
    color: #f62459;
    background-color: #fff;
  }
  .service-block-seven, .btn-dt {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    padding: 30px;
    display: flex;
    border-radius: 15px;
  }
  .service-block-seven:hover, .btn-dt:hover {
    top: -10px;
    transition: .5s ease;
  }
  .service-block-seven .h2, .btn-dt .h2 {
    font-size: 1.3rem;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0 0 11px;
  }
  .service-block-seven .p, .btn-dt .p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.375rem;
  }
  .service-block-seven .btn, .btn-dt .btn {
    min-width: 130px;
    max-width: 130px;
    font-size: 1.063rem;
    margin-bottom: 0;
    line-height: 35px;
    align-self: center;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .service-block-seven, .btn-dt {
      margin-left: 15px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {
    .service-block-seven, .btn-dt {
      margin-left: 15px;
    }
  }
  
  @media (min-width: 1260px) {
    .service-block-seven, .btn-dt {
      margin-left: 15px;
    }
  }

  .service-block-seven:hover, .btn-dt:hover {
    background-color: #ce4125;
    color: #fff;
  }

  .service-block-seven:hover .btn-dt, .btn-dt:hover .btn-dt {
    background-color: #fff;
    color: #ce4125;
  }

  .service-block-seven:hover .icon-circle-dt, .btn-dt:hover .icon-circle-dt {
    fill: #ce4125;
    background-color: #fff;
  }
  
  .service-block-seven:hover .icon-graduation-cap, .btn-dt:hover .icon-graduation-cap {
    color: #ce4125;
    background-color: #fff;
  }
  .icon-format-services {
    font-size: 2rem;
    line-height: 62px;
    color: white;
  }
  footer {
    background-color: #323544;
    padding: 27px 0 0;
  }
  .btn-software {
    display: inline-block;
    font-weight: 400;
    height: auto;
    line-height: 35px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    row-gap: 0.625em;
    text-transform: uppercase;
    border-radius: 3px;
    width: 50%;
    align-self: center;
    color: #fff;
    margin-right: 0;
    background-color: #67809f;
  }
  .btn-software:hover {
    cursor: pointer;
  }
  .btn-it {
    display: inline-block;
    font-weight: 400;
    height: auto;
    line-height: 35px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    row-gap: 0.625em;
    text-transform: uppercase;
    border-radius: 3px;
    width: 50%;
    align-self: center;
    color: #fff;
    margin-right: 0;
    background-color: #4183d7;
  }
  .btn-it:hover {
    cursor: pointer;
  }
  .btn-dm {
    display: inline-block;
    font-weight: 400;
    height: auto;
    line-height: 35px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    row-gap: 0.625em;
    text-transform: uppercase;
    border-radius: 3px;
    width: 50%;
    align-self: center;
    color: #fff;
    margin-right: 0;
    background-color: #2ecc71;
  }
  .btn-dm:hover {
    cursor: pointer;
  }
  .btn-ts {
    display: inline-block;
    font-weight: 400;
    height: auto;
    line-height: 35px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    row-gap: 0.625em;
    text-transform: uppercase;
    border-radius: 3px;
    width: 50%;
    align-self: center;
    color: #fff;
    margin-right: 0;
    background-color: #d64541;
  }
  .btn-ts:hover {
    cursor: pointer;
  }
  .btn-wd {
    display: inline-block;
    font-weight: 400;
    height: auto;
    line-height: 35px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    row-gap: 0.625em;
    text-transform: uppercase;
    border-radius: 3px;
    width: 50%;
    align-self: center;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    background-color: #926fb1;
  }
  .btn-wd:hover {
    cursor: pointer;
  }
  .btn-cs {
    display: inline-block;
    font-weight: 400;
    height: auto;
    line-height: 35px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    row-gap: 0.625em;
    text-transform: uppercase;
    border-radius: 3px;
    width: 50%;
    align-self: center;
    color: #fff;
    margin-right: 0;
    background-color: #f62459;
  }
  .btn-cs:hover {
    cursor: pointer;
  }
  .btn-dt {
    display: inline-block;
    font-weight: 400;
    height: auto;
    line-height: 35px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    row-gap: 0.625em;
    text-transform: uppercase;
    border-radius: 3px;
    width: 50%;
    align-self: center;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    background-color: #ce4125;
  }
  .btn-dt:hover {
    cursor: pointer;
  }

  .btn-whyus:hover{
    cursor: pointer;
  }
  .partner-slideshow {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    overflow-x: hidden;
    gap: 80px;
}
.partner-slideshow:first-child {
    margin-left: 150px;
  }
  .mono-logo {
    filter: grayscale(1);
  }
  .color-logo, .mono-logo {
    height: 70px;
}
.mono-logo:hover {
    filter: grayscale(0);
  }
  .welcome-netmatters {
    background-color: #323544;
    color: #fff;
    text-align: left;
}
@media screen and (min-width: 992px){
.welcome-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 15px;
}
}
@media screen and (min-width: 992px){
.welcome-left {
    grid-column-start: 1;
}
}
@media screen and (min-width: 992px){
.welcome-grid h2 {
    color: #fff;
    font-weight: 600;
    font-size: 2.25rem;
}
}

.welcome-left .button-black {
    margin-bottom: 30px;
}
@media screen and (min-width: 992px){
  .welcome-grid .button-black {
      padding: 10px 30px;
      margin-right: 30px;
      margin-bottom: 17px;
  }
  }
.button-black {
    background-color: #272936;
    border: 1px solid transparent;
    transition: 0.3s;
}
@media screen and (min-width: 992px){
.welcome-right {
    grid-column-start: 2;
}
}
strong {
    font-weight: 600;
}
.stars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
em {
    font-style: italic;
}
cite {
    font-weight: 600;
    color: #a3a8ac;
    font-size: 1.1rem;
}
.btn-reviews {
    color: #fff;
    background-color: #333645;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
}
.btn-reviews-google {
    display: inline-block;
    background-color: #4387f6;
    align-items: baseline;
}
.btn-reviews-trustpilot {
    background-color: #00b67b;
    display: inline-block;
    align-items: baseline;
    white-space: nowrap;
}
.container-section {
    padding-top: 50px;
    padding-bottom: 50px
    
}

.space-between {
    padding-bottom: 30px;
}
.latest-articles .headings-container {
  display: flex;
  justify-content: space-between;
}
.latest-articles {
    background-color: #fff;
  }

.block-content{
  padding: 30px;
}
  .latest-articles {
    padding-left: 0;
  }
  .headings-news {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}
.headings-news a {
    text-decoration: none;
    color: #25262c;
}
.view-all a {
    font-size: 26px;
    font-weight: 600;
}
.view-all{
  text-align: center;
}
.view-all:hover a {
  text-decoration: underline;
}
@media (min-width: 768px){
.mobile {
    display: none;
}
}
@media (min-width: 320px) and (max-width: 767px){
.large-screen {
    display: none;
}
}
.latest-articles {
    background-color: #fff;
  }
  .article-content {
    flex-wrap: wrap;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    .article-content {
      flex-direction: column;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .article-content {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  .article-blocks {
    display: block;
  }
  .article-blocks h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .article-blocks h3 a {
    text-decoration: none;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .article-blocks {
      display: flex;
      gap: 30px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {
    .article-blocks {
      display: flex;
      gap: 30px;
    }
  }
  
  @media (min-width: 1260px) {
    .article-blocks {
      display: flex;
      gap: 30px;
    }
  }
  .article-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-decoration: none;
    text-align: left;
    font-size: 13px;
    color: #b9bbc5;
  }
  .article-link:hover {
    text-decoration: none;
  }
  @media (max-width: 767px){
.view-all-mobile {
    display: block!important;
}
  }
  .view-all a{text-decoration: none;
    color: #25262c;
    font-size: 26
}
  .readtime {
    display: inline;
    text-transform: uppercase;
    color: rgba(51, 54, 69, 0.5);
    font-size: .85rem;
    vertical-align: middle;
  }
  .affiliation-banner {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    overflow-x: clip;
    gap: 80px;
  }
  
  .affiliation-banner:first-child {
    margin-left: 150px;
  }
  .xupes-logo, .survey-logo {
    position: relative;
    height: 50px !important;
    width: 200px;
    padding-top: 15px;
    margin-right: 15px;
  }
  
  .sponsors-banner {
    max-height: 70px;
  }
  
  .sponsors-banner img {
    height: 70px;
  }
  
  .sponsors-banner > .up {
    width: 280px;
  }
  
  .triangle-up {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 36px 0 36px !important;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
    bottom: 40px;
    margin-right: auto;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}
  
  .triangle-up {
    display: none;
    position: absolute;
    margin-bottom: 30px;
  }
  
  .triangle-space {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 100%;
    left: -200px;
    right: -200px;
  }
  
  .box {
    display: none;
    position: absolute;
    z-index: 2;
    width: 280px;
    bottom: 130px;
    z-index: 2;
    background-color: #333645;
    color: #fff;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
  }
  
  .box p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .box p, .box h3 {
    padding: 0px 15px;
  }
  
  .box h3 {
    color: #fff;
    font-size: 1.125rem;
    padding-bottom: 17px;
    margin: 0;
  }
  .box .btn {
    display: block;
    height: 30px;
    margin: 10px 25px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 0px;
    line-height: 49px;
}
  .button-blue {
    background-color: #4183d7;
    border: 1px solid transparent;
}

  .up {
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
  }
  
  .up:hover .triangle-space {
    display: block;
  }
  
  .up:hover .triangle-up {
    display: block;
  }
  
  .up:hover .box {
    display: inline-block;
    padding: 5px;
  }
  
  .block-one:hover {
    top: -10px;
    transition: .5s ease;
  }
 
  .block-one h3 a {
    color: #ce4125;
  }
  .block-one img {
    width: 100%;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .block-one {
      width: 50%;
      float: left;
    }
  }
  .block-one {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  }
  .block-two {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  }

  .block-two:hover {
    top: -10px;
    transition: .5s ease;
  }

  .block-two h3 a {
    color: #ce4125;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .block-two {
      width: 50%;
      float: right;
    }
  }
  .block-three {
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  }
  
  .block-three:hover {
    top: -10px;
    transition: .5s ease;
  }
  
  .block-three h3 a {
    color: #4183d7;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .block-three {
      display: none;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1259px) {
    .block-three {
      display: none;
    }
  }
  
  @media (min-width: 1260px) {
    .block-three {
      display: block;
    }
  }
  .img-container {
    position: relative;
    width: 100%;
    height: auto;
}
.article-img {
    display: block;
    width: auto;
    height: auto;
}
.user {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    
}
.user > .avatar {
    width: 20%;
    border-radius: 50%;
    overflow: hidden;
}
.user>* {
    display: table-cell;
    vertical-align: middle;
}
.user>.info {
  padding-left: 20px;
  line-height: 1.375rem;
}
.btn-tooltip {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .75rem;
    right: 0;
    top: 10px;
    padding: 0 10px;
    line-height: 1.438rem;
    font-weight: 600;
    z-index: 1;
}
.btn-tooltip-one {
    background-color: #ce4125;
}
.btn-tooltip-three{
    background-color: #4183D7;
}
.block-content p {
    text-wrap: wrap;
    line-height: 1.375rem;
    font-size: .8125rem;
}
.btn-news-one {
    background-color: #ce4125;
}
.btn-news-three {
    background-color: #4183D7;
}
.btn-news {
    text-align: center;
    font-size: 1.063rem;
    border-radius: 3px;
    padding: 5px 15px;
}
.headings-bar {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}
.headings-bar a {
    text-decoration: none;
    color: #25262c;
}

.email-newsletter {
    background-color: #ddd;
    line-height: 32px;
    font-weight: 600;
    color: #333645;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-subscribe {
   color: #fff;
  background-color: #333645;
  border-color: #333645;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}
  
label.required:after, label .required:after {
  content: " *";
  color: #d24d57;
}
.newsletter{
  text-align: left;
  display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 992px){
.align-center {
    width: 970px;
}
}
@media screen and (min-width: 1260px){
.align-center {
    width: 1200px;
}
}
@media (min-width: 768px){
.align-center {
    margin: auto;
}
}
.email-news {
  background-color: inherit;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
@media screen and (min-width: 992px){
.news-input {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
}
.news-input {
  width: 100%;
}
@media screen and (min-width: 992px){
#your-email, #your-name {
    width: 450px;
    display: block;
    box-sizing: border-box;
}
}
.email {
  justify-content: flex-start;
  width: 100%;
  line-height: 47px;
}
.checkbox-container {
  display: flex;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  min-height: 26px;
  min-width: 26px;
  max-height: 26px;
  max-width: 26px;
  background-color: #ddd;
  border: 3px solid #333645;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  outline: none;
  margin-right: 20px;
}

.label-checkmark {
  font-size: 1rem;
  font-weight: 600;
}

input[type="checkbox"]:after {
  font-family: 'icomoon';
  content: "\ea10";
  color: #fff;
  font-size: 1.2em;
  display: none;
  padding-top: 2px;
  padding-left: 2px;
}

input[type="checkbox"]:checked {
  background-color: #333645;
}

input[type="checkbox"]:checked:after {
  display: block;
}
.privacy-policy {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.privacy-policy a{
  text-decoration: underline;
    color: #000;
}
@media (min-width: 992px) and (max-width: 1259px){
.footer {
    flex-direction: row;
}
}
.about-footer {
  padding: 15px 25px;
  background-color: #323544;
  color: #fff;
  text-decoration: none;
  align-items: flex-start;
}
.nm-logo-w {
  height: 65.6px;
  width: auto;
  position: relative;
  top: 1px;
  left: 1px;
}
@media (min-width: 768px){
.about-footer h4, .about-footer h3 {
    color: #fff !important;
}
}
footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
    margin-bottom: 26px;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  color: #fff;
}
.footer-socials a {
  padding: 12px 22px 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 26px;
  color: white;
}
.footer-icons {
  display: flex;
  font-size: 26px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-icons:hover a {
  text-decoration: none;
}

.icon-facebook, .icon-instagram, .icon-twitter, .icon-linkedin {
  height: auto;
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon {
  background-color: #212330;
  width: 68px;
  height: 28px;
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.footer-socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  color: #fff;
}
@media (max-width: 480px){
.footer-socials a {
    width: 35%;
}
}
.icon-facebook:hover {
  background-color: #3B5998;
  text-decoration: none;
}

.icon-linkedin:hover {
  background-color: #0077B5;
  text-decoration: none;
}

.icon-twitter:hover {
  background-color: #00ACED;
  text-decoration: none;
}

.icon-instagram:hover {
  background-color: #D93175;
  text-decoration: none;
}
.facebook {
  background-color: #212330;
  align-content: center;
  justify-content: center;
}
.linkedin {
  background-color: #212330;
  align-content: center;
  justify-content: center;
}
.twitter {
  background-color: #212330;
  align-content: center;
  justify-content: center;
}
.instagram {
  background-color: #212330;
  align-content: center;
  justify-content: center;
}
.social-btn {
  display: inline-block;
  font-weight: 400;
  height: auto;
  line-height: 35px;
  padding: 6px 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 2px;
  color: white;
  row-gap: 0.625em;
  color: #fff;
  background-color: #333645;
}

.links {
  font-size: .8125rem;
  line-height: 1.375rem;
}
.about {
  text-align: start;
}
.about {
  max-width: 80%;
  margin-bottom: 25px;
}
@media (min-width: 768px){
.footer-li {
    margin-top: 0px;
    ;
}
}
.footer-li {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px){
.about-footer h4, .about-footer h3 {
    color: #fff !important;
}
}
a.ftr-li{
  color: white;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
footer ul {
  
  padding: 0;
  margin: 0;
}
@media (min-width: 992px){
.links {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
}
@media (min-width: 768px)and (max-width: 1250px){
.links {
    display: grid;
    grid-template-columns: 50% 50%;
}
}
.copyright {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 5px 0px 10px;
  background-color: #212330;
  color: #fff;
  font-size: 0.8125rem;
  margin: 0;
  padding-top: 15px;
}
.copyright a{
  color: white;
}

@media (min-width: 1260px){
.about-netmatters {
    justify-content: flex-start;
    width: 397px;
}
}
@media (min-width: 1260px){
.links {
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    margin-left: -15px;
    margin-right: -15px;
}
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 767px){
.copyright .license {
    flex-direction: column;
}
}
.licence {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 5px 0px 10px;
  background-color: #212330;
  color: #fff;
  font-size: 0.8125rem;
  margin: 0;
  padding-top: 15px;
}
.ul {
  display: flex;
  padding-left: 1px;
  margin: 0;
  list-style-type: none;
}
.li-hypthen {
  margin-left: 0.625em;
  margin-right: 0.625em;
}
li{
  list-style: none;
}