html{
    font-size: 16;
    font-family: sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust: 100%;
    
}
head{
    display: none;
}
title{
    display: none;
}
body {
    display: block;
    margin: 0;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #444;
    background-color: #fff
}
small {
    font-size: 80%
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
button {
    overflow: visible
}

table  {
    border: 1px solid #ddd;
    width: 100%;
    }
    
    table td {
    border: 1px solid #fff;
    background-color: #eee;
    padding: 15px;
    height: 20px;
    }
    
    .brand-background strong{
      color: white !important;
    }
    
    
    .main-navigation .security + li > a span {
    color: #926fb1;
    }
    
    .main-navigation .security + li > ul,
    .main-navigation .security + li > ul::before,
    .main-navigation .security + li > ul::after {
    background-color: #79539a !important;
    }
    
    @media (max-width: 991px) {
    .sidebar .menu-item-532 {
    display: none;
    }
    .actions{
font-family: Poppins, sans-serif;
font-size: 16px;
line-height:22.8571px;
text-align: start;
letter-spacing: 0.4px; 
color: #666666;
background-color: #ffffff;
    }
    .block, .software{
        padding: 30px;
        margin-top: 30px;
        text-align: center;
        color: #333645;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0p;
        border-radius: 15px;
    }  
    .container, .section{
        padding: 50px, 15px, 50px, 15px;
        margin-left: 9px;
        margin-right: 9px;
    } 
    .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit
    }
    
    .h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
        font-weight: 400;
        line-height: 1;
        color: #888
    }
    
    .h1,.h2,.h3,h1,h2,h3 {
        margin-top: 20px;
        margin-bottom: 10px
    }
    
    .h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small {
        font-size: 65%
    }
    
    .h4,.h5,.h6,h4,h5,h6 {
        margin-top: 10px;
        margin-bottom: 10px
    }
    
    .h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
        font-size: 75%
    }
    
    .h1,h1 {
        font-size: 36px
    }
    
    .h2,h2 {
        font-size: 28px
    }
    
    .h3,h3 {
        font-size: 24px
    }
    
    .h4,h4 {
        font-size: 18px
    }
    
    .h5,h5 {
        font-size: 14px
    }
    
    .h6,h6 {
        font-size: 12px
    }
    
    p {
        margin: 0 0 10px
    }