
.btn {
  display: inline-block;
  font-weight: 400;
  height: auto;
  line-height: 35px;
  padding: 6px 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 2px;
  color: white;
  row-gap: 0.625em;
}
// header buttons
.btn-help-contact {
    color: #fff;
    background-color: #999aa2;
    border-color: #999aa2;
}
.btn-help-support {
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;
}
.btn-help {
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    padding: 5px 10px;
    width: 151px;
    border-radius: 3px;
}

.search-form-tablet-btn {
    width: 63px;
    border-radius: 0 3px 3px 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #999aa2;
    border: none;
    cursor: pointer;
}
// carousel button 
.btn-whyus {
    margin-top: 5px;
    text-decoration: none;
    height: 50px;
      padding: 5px 20px;
      border-radius: 3px;
      background-color: #926FB1;
      line-height: 50px;
      font-size: 1.2rem;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      text-transform: uppercase;
  }
.btn-whyus:hover{
    background-color: #7e57a0;
    color: white;
  }