.container-header {
  background-color: $white;
}
.sub-menu-banner-title {
  color: $white;
}
.header-large {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 767px){
.header-large {
  justify-content: space-flex-start;
  padding-top: 25px;
  padding-bottom: 15px;
}
}
.logo-container {
  display: table;
  table-layout: fixed;
}
.logo {
max-width: 100%;
}
@media (min-width: 1260px){
.logo {
  height: 64px;
}
}
.logo img {
display: block;
}

@media (min-width: 992px){
.search-bar {
    max-width: 66px;
}
}
@media (min-width: 768px){
.search-bar {
    font-size: 1em;
    fill: $white;
}
}
@media (min-width: 768px){
.search-bar {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-right: -2px !important;
    height: 57px !important;
    max-width: 243px;
}
}
.search-bar {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
@media (min-width: 992px) and (max-width: 1259px){
.search-box {
    display: none;
}
}
@media (min-width: 768px){
.search-box {
    padding: 1em;
    flex: 1;
    background-color: $white;
    max-width: 175px;
}
}
@media (min-width: 767px){
.search-box {
    width: 142px;
    padding: 5px 15px;
    border: 1px 0 1px 1px $manatee;
}
}
@media (min-width: 768px){
input[type=text] {
    border: 1px solid $input;
    outline: none;
    font-size: 1em;
    height: 57px;
}
}
@media (min-width: 767px){
.header-row {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
}
}
@media (min-width: 768px){
.search-bar button {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    padding: 16px 20px;
    border-radius: 3px;
    background-color: $manatee;
    border: none;
    outline: none;
    border-radius: 0 5% 5% 0;
    cursor: pointer;
}
}
#header {
  color: $white;
}
@media (max-width: 767px){
.header-small {
    padding: 15px 20px;
}
}
.header-small{
  padding-top: 20px;
    padding-bottom: 20px;
}
.header-small-logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.hamburger {
  position: relative;
  top: 1px;
  display: inline-block;
  font-size: 21px;
  width: 63px;
  height: 56px;
  background-color: $tuna;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
}
.btn-hamburger {
  height: 56px;
  border-radius: 3px;
}
.container-mobile {
  display: table-cell;
  vertical-align: middle;
}
.phone {
  text-decoration: none;
  font-size: 32px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  color: $tuna;
}
.search-small {
  border: 2px solid $alto;
  background-color: $mercury;
  height: 41px;
  border-radius: 3px;
}
.search-2 {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid $input;
}
.menu-1{
  width: 33px;
  height: 4px; 
}
.icon-menu {
  top: 50%;
  left: 25%;
  display: block;
  margin-top: -2px;
  font-size: 40px;
}
.icon-search-2{
  font-size: 24px;
  font-weight: 400;
  color: $tuna;
  background-color: transparent;
  position: relative;
  top: 10px;
  right: 10px; 
}

.search-box-2 {
  width: 100%;
  border: none;
  position: relative;
  background: transparent;
  height: 47px;
  padding-left: 15px;
}
.icon-search {
  font-size: 24px;
  font-weight: 400;
  background-color: transparent;

}

.nm-logo-black {
  max-width: 100%;
  height: 60px;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: auto;
}
@media (min-width: 992px){
.nm-logo-black {
  position: relative;
  left: 0;
}
}
@media (min-width: 768px){
.nm-logo-black {
    max-width: 345px;
} 
}
.bottom-header a{
  color: $white;
}
 
.header-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
header .inner .actions .btn {
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    float: left;
}


@media (min-width: 992px) {
.header-row {
  width: 970px;
}
}
.element {
  display: inline-block;
  margin-right: 10px; 
}
header a{
  color: $white;
}
.menu-drop {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100vw;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sub-menu-banner {
  width: 100%;
  display: none;
  text-align: left;
  position: absolute;
}


.nav:hover [class^="icon-"]::before {
  color: $white;
}
@media (min-width: 1260px){
.nav:hover .triangle {
  border-width: 0 85.5px 35px 85.5px;
}
}
@media (min-width: 992px){
.nav:hover .triangle {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 70px 36px 70px;
  border-color: transparent;
  transform: rotate(180deg);
  position: absolute;
  z-index: 2;
}
}
.nav:hover .sub-menu {
  padding: 30px;
  top: 19px;
  width: 100vw;
}

.nav:hover .icon-hover {
  color: $white;
}

.nav:hover .icon-hover {
  color: $white;
}

.sub-menu-banner a:hover {
  text-decoration: underline;
}
@media (min-width: 767px) {
  .header-high {
    justify-content: space-flex-start;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .hamburger {
    margin: 0px;
  }
  .header-low {
    display: none;
  }
  .search {
    display: inline-flex;
    width: 174px;
    justify-content: flex-end;
    border: 1px $input;
  }
  .search-box {
    width: 142px;
    padding: 5px 15px;
    border: 1px 0 1px 1px $input;
  }
  .search-focus:focus {
    border-color: $viking;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  }
}
@media (min-width: 992px){
.bottom-header {
  background-color: $tuna;
}
}

.hamburger {
  margin-left: 0px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  color: $white;
  text-transform: uppercase;
  line-height: 1;
}
.nav-bar .h2{
  color: $white;
}
.nav-bar span {
  font-size: 1.125rem;
}
.nav-bar small {
  font-size: .625rem;
}
.nav-bar > div {
  flex-basis: 100%;
  padding: 19px 0 18px;
}
.nav > a {
  padding: 19px 0 18px;
}
.nav [class^="icon-"] {
  font-size: 23px;
}
.nav .sub-menu-banner-title {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
}
.nav:hover .sub-menu-banner {
  display: block;
  left: 0;
}

.nav:hover .sub-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -33px;
  list-style: none;
  text-align: left;
  width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  flex-direction: row;
}
.nav:hover .link-text {
  margin-left: 10px;
}
.nav-item {
  margin-top: -15px;
  list-style: none;
  text-align: left;
  padding: 0;
  width: 33%;
  margin-top: 15px;
}


@media (min-width: 992px) {
.nav:hover .triangle {
  border-width: 0 85.5px 35px 85.5px;
}
}
@media (min-width: 1536px) {
.nav:hover .triangle {
  border-width: 0 107px 35px 107px;
}
}
.bottom-header {
margin-right: auto;
margin-left: auto;
border-left: $tuna solid 14px;
}
@media (min-width: 767px){
  .header-elements {
      display: flex;
      gap: 20px;
      width: 100%;
      justify-content: flex-start;
  }
}

.btn-help {
height: 56px;
line-height: 46px;
font-size: 1.125rem;
padding: 5px 10px;
width: 151px;
border-radius: 3px;
}
@media (min-width: 1260px){
.btn-help {
  display: flex;
  align-items: center;
  justify-content: center;
}
}
.search-form-tablet-btn {
  width: 63px;
  border-radius: 0 3px 3px 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: $manatee;
  border: none;
  cursor: pointer;
}
.sub-menu-banner-title {
color: $white;
}
@media (min-width: 768px) and (max-width: 991px){
  .header-small{
    margin-left: 15px;
    margin-right: 15px;
  }
}
.bespoke-color {
  background-color: $blue-bayoux;
}
.it-support-color {
  background-color: $mariner;
}
.digital-color {
  background-color: $eucalyptus;
}
.telecoms-color {
  background-color: $tall-poppy;
}
.web-color {
  background-color: $affair;
}
.cyber-color {
  background-color: $red-ribbon;
}
.developer-color {
  background-color: $cognac;
}

.bespoke-head:hover:hover {
  background-color: $hoki;
}
.bespoke-head:hover:hover .triangle {
  border-color: transparent transparent $hoki transparent;
}
.it-head:hover:hover {
    background-color: $havelock-blue;
  }
  .it-head:hover:hover .triangle {
    border-color: transparent transparent $havelock-blue transparent;
  }
.digital-head:hover:hover {
  background-color: $shamrock;
}
.digital-head:hover:hover .triangle {
  border-color: transparent transparent $shamrock transparent;
}
.digital-head:hover > .icon-bar-graph-h:before {
  color: $white;
}
.telecoms-head:hover:hover {
  background-color: $valencia;
}
.telecoms-head:hover:hover .triangle {
  border-color: transparent transparent $valencia transparent;
}
.web-head:hover:hover {
  background-color: $wisteria;
}
.web-head:hover:hover .triangle {
  border-color: transparent transparent $wisteria transparent;
}
.cyber-head:hover:hover {
  background-color: $radical-red;
}
.cyber-head:hover:hover .triangle {
  border-color: transparent transparent $radical-red transparent;
}
.developer-head:hover:hover {
  background-color: $punch;
}
.developer-head:hover:hover .triangle {
  border-color: transparent transparent $punch transparent;}
.btn-help-contact {
  background-color: $manatee;
  border-color: $manatee;
}
.btn-help-support {
  background-color:$havelock-blue;
  border-color: $havelock-blue;
}
.icon-search-1 {
  color: $white;
}
.icon-search-2{
color: $tuna;
}
.icon-format-nav-laptop {
  color: $hoki;
}

.icon-display {
    color: $havelock-blue;}
.icon-display-service{
  color: $white;
}     
.icon-digital{
  color: $white;
}
.icon-googlescholar-service{
  color: $white; 
}