.partner-slideshow {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  overflow-x: hidden;
  gap: 80px;
}
.partner-slideshow:first-child {
  margin-left: 150px;
}
.partner-slideshow img{
  margin: 0 40px;
}
.mono-logo {
  filter: grayscale(1);
}
.color-logo, .mono-logo {
  max-height: 90px;
}
.princess {
padding-top: 15px;
}
.mono-logo:hover {
  filter: grayscale(0);
}

.affiliation-banner {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 50px;
  padding-bottom: 80px;
  width: 100%;
  overflow-x: clip;
  gap: 80px;
}
.affiliation-banner a{
  color: white;
}
.affiliation-banner:first-child {
  margin-left: 150px;
}
.affiliation-banner img {
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  width:auto;
}
.xupes-logo, .survey-logo{
  position:relative;
  width:200px;
  padding-top:17px;
  padding-bottom:17px;
}
.crane-logo{
  height: 60px;
}
.item{
  margin: 0 40px;
  max-height: 70px;
  width: auto;
}

.sponsors-banner > .up{
  width:280px;
}
.triangle-up{
  content:"";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 40px 36px 0 36px !important;
  border-color:$tuna transparent transparent transparent;
  transform: rotate(0deg);
  bottom:40px;
  margin-right:auto;
  z-index:2;
  left:50%;
  transform: translateX(-50%)
}
.triangle-up{
  display:none;
  position:absolute;
  bottom: 50px;
}
.triangle-space{
display:none;
 width:100%;
 height:100%;
 position:relative;
 bottom: 220px;
 height: 170px;
}
.sweet-triangle{
  bottom: 35px;
}
.howes-triangle{
  bottom: 208px;
}
.ash-triangle{
  bottom: 20px;
}
.crane-triangle{
  bottom: 38px;
}
.GD-triangle{
  bottom: 38px;
}
.box{
  display:none;
  position:absolute;
  z-index: 2;
  width: 280px;
  bottom:110px;
  z-index: 2;
  background-color: #333645;
  color: #fff;
  left:50%;
  transform:translatex(-50%);
  text-align: center;

  p{
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  p, h3{
    padding: 0px 15px;
  }
  h3{
    color:$white;
    font-size:1.125rem;
    padding-bottom:17px;
    margin:0;
  }
  .btn{
    display: block;
    height: 47px;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    line-height: 49px;
    width:240px;
    box-sizing:border-box;
  }

}

.mono-logo{
  filter:grayscale(1)
}
.mono-logo:hover{
  filter:grayscale(0);
}
.sweetzy-logo{
  padding-top: 8px;
}
.ashcroft-logo{
  padding-top: 20px;
}
.up{
  padding-right:15px;
  padding-left:15px;
  position:relative;
  height: 50px;
}

.up:hover{
  .triangle-space{
    display:block;
  }
  .triangle-up{
    display:block;
  }
  .box{
    display: inline-block;
    padding:20px;
    box-sizing:border-box;
  }
  
}

.btn-blue {
  background-color: $havelock-blue;
}
.btn-blue:hover{
text-decoration: none;
background-color: $cornflower-blue;
}
.btn-swan {
background-color: $hoki;
}
.btn-swan:hover{
text-decoration: none;
background-color: $blue-bayoux;
}
.btn-green {
background-color: $jungle-green;
}
.btn-green:hover{
text-decoration: none;
background-color: $eucalyptus;
}
.btn-purple {
background-color: $wisteria;
}
.btn-purple:hover{
text-decoration: none;
background-color: $affair;
}
 