/* Positioning the sidebar off-screen initially */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Initially hidden on the right */
    width: 250px;
    height: 100%;
    background-color: #333645;
    transition: right 0.3s ease; /* Transition for smooth animation */
    z-index: 1000; /* Ensure it's above other content */
    overflow-x: hidden;
    & ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    & a {
        color: white;
        font-size: 1.125rem;
        text-decoration: none;
        padding: 19px 0 18px;
        display: block;
        border-radius: 3px;
        text-align: center;
        text-transform: uppercase;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0,0%, 100%,.1);
    }
}

  
  /* Active state for the sidebar */
  .sidebar.sidebar-active {
    right: 0; /* Displayed on the right */
  }
  
  /* Pushing the main content when the sidebar is active */
  .main {
    transition: margin-right 0.3s ease; /* Transition for smooth animation */
  }
  
  .main.main-sidebar-active {
    margin-right: 250px; /* Adjust based on the sidebar width */
  }
  
  /* Dark overlay */
  .dark-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure it's above other content */
  }
  
  .dark-overlay.dark-overlay-active {
    display: block; /* Displayed when active */
  }
  //
  
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
      width: 275px;
    }
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    .sidebar {
      width: 275px;
    }
  }
  
  @media (min-width: 1260px) {
    .sidebar {
      overflow-x: hidden;
    }
  }
  .sidebar a {
    color: white;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 19px 0 18px;
    display: block;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    outline: 1px solid rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .menu-link-text {
    text-align: left;
    font-size: .875rem;
}
.menu-banner-item {
    border-top: 1px solid rgba(0, 0, 0, 0.45);
    color: #fff;
}
.menu-banner-item a {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #fff;
}
.menu a {
    text-align: left;
    padding: 15px 20px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
}
  .container-sidebar {
    padding: 21px;
  }
 li a{
    color: #fff;
 } 
  @media (min-width: 992px) and (max-width: 1259px) {
    .container-sidebar {
      display: none;
    }
  }  
    // Hamburger button
    .actions {
        float: right;
    }
    .container-hamburger {
        display: table-cell;
        vertical-align: middle;
    }
    .btn-hamburger {
        height: 56px;
        border-radius: 3px;
        display: inline-block;
        font-weight: 400;
        line-height: 35px;
        padding: 6px 12px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid transparent;
        color: white;
        color: #fff;
        background-color: #333645;
        margin-left: 10px;
    }
    .hamburger-box {
        display: inline-block;
        width: 33px;
        height: 19px;
        position: relative;
      }
      
      
      .hamburger-inner {
        left: 0;
        top: 10px;
      
        @include hamburger();
      
        &::before {
          @include hamburger();
          top: -10px;
          bottom: 0;
        }
      
        &::after {
          @include hamburger();
          top: 10px;
        }
      }
      
      .hamburger-spin {
        .hamburger-inner {
      
          @include hamburger();
      
          transform: rotate(225deg);
          transition-delay: .12s;
          transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
          transition: .5s ease;
      
          &::before {
            @include hamburger();
            top:0;
            opacity: 0;
      
            transition: top .1s ease-out
              ,opacity .1s ease-out .12s;
      
            transform: rotate(45deg);
      
            &:hover {
              top: 10px;
            }
          }
      
          &::after {
            @include hamburger();
            bottom: 0;
            top: 0;
            transform: rotate(-90deg);
            transition: bottom .1s
              ease-out, transform .22s
              cubic-bezier(0.215, 0.610, 0.355, 1) .12s;
          }
        }
      }
    
      .hamburger-spin-backwards {
        cursor: pointer;
        
        .hamburger-inner {
        
          @include hamburger();
          
            transform: rotate(-180deg);
            transition-delay: .12s;
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
            transition: .5s ease;
          
            &::before {
              @include hamburger();
              top: 10px;
              opacity: 1;
              transform: rotate(180deg);
              transition: top .1s ease-out
              ,opacity .1s ease-out .12s;
          
              //transform: rotate(45deg);
          
              &:hover {
                top: 10px;
              }
            }
          
            &::after {
              @include hamburger();
              bottom: 0;
              top: -10px;
              transform: rotate(180deg);
              transition: bottom .1s
                ease-out, transform .22s
                cubic-bezier(0.215, 0.610, 0.355, 1) .12s;
            }
        }
      }