
.welcome-netmatters {
    color: $white;
    text-align: left;
}
.background-grey{
 background-color: $tuna;   
}
.welcome-left a{
    color: $white;
   }


.button-black {
    @include btn-welcome($charade)
}
.button-black:hover{
    background-color: $woodsmoke;
}
.button-black{
    margin-top: 20px;
}
strong {
    font-weight: 600;
}
.stars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
em {
    font-style: italic;
}
cite {
    font-weight: 600;
    color: $gray-chateau;
    font-size: 1.1rem;
}


.btn-reviews-google {
    @include btn-welcome($dodger-blue)
}
.btn-reviews-google:hover {
    background-color: $blue-ribbon;
}
.btn-reviews-trustpilot {
    @include btn-welcome($jade)
}
.btn-reviews-trustpilot:hover {
    background-color: $green-haze;
}
