
.welcome-netmatters {
    color: $white;
    text-align: left;
}
.background-grey{
 background-color: $tuna;   
}
.welcome-left a{
    color: $white;
   }
.welcome-left .button-black {
    margin-bottom: 30px;
}

.button-black {
    background-color: $charade;
    border: 1px solid transparent;
    transition: 0.3s;
}
.button-black:hover{
    background-color: $woodsmoke;
    cursor: pointer;
}
strong {
    font-weight: 600;
}
.stars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
em {
    font-style: italic;
}
cite {
    font-weight: 600;
    color: $gray-chateau;
    font-size: 1.1rem;
}
.btn-reviews {
    color: $white;
    background-color: $tuna;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
}

.btn-reviews-google {
    display: inline-block;
    background-color: $dodger-blue;
    align-items: baseline;
}
.btn-reviews-google:hover {
    background-color: $blue-ribbon;
    text-decoration: none;
    cursor: pointer;
}
.btn-reviews-trustpilot {
    background-color: $jade;
    display: inline-block;
    align-items: baseline;
    white-space: nowrap;
}
.btn-reviews-trustpilot:hover {
    background-color: $green-haze;
    text-decoration: none;
    cursor: pointer;
}