
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
}

#container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-header {
    background-color: $white;
}
.main {
    background-color: $white;
    position: relative;
    transition: all .5s;
    z-index: 10;
    left: 0;
    
}
html {
    font-size: 16px;
font-family: 'Poppins', sans-serif;   
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    padding: 1.5vh 0;
    text-transform: capitalize;
  }
  
  h2 {
    font-size: 32px;
    font-weight: 600;
  }
 
  h3 {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 0 0 15px;
    color: #333645;
  
    & a {
      font-weight: 600;
    }
  }
  
  h4 {
    font-weight: 400;
    margin: 25px 0;
  }
  @media (min-width: 992px) {
    html {
      font-size: 16px;
    }
    .h1, h1 {
      font-size: 2.25rem;
      font-weight: 400;
      margin: 0 0 28px;
      color: $tuna;
    }
    .h2, h2 {
      font-size: 2rem;
    }
    .h2, .h3, .h4, h2, h3, h4 {
      font-weight: 400;
      margin: 0 0 15px;
      color: $tuna;
    }
    
    .h3, .h4, h3, h4 {
      font-size: 1.25rem;
    }
    .h3, h3 {
      font-size: 1.625rem;
    }
    .h4, h4 {
      font-size: 1rem;
    }
    p {
      line-height: 1.875rem;
    }
  }
  
.welcome-h1 {
    color: $white;
}
  body {
    display: inherit;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    line-height: 1.42857143;
    letter-spacing: .4px;
    text-align: center;
    color: $river-bed;
    background-color: $white;
    width: 100%;
    padding: 0px;
    margin: 0;
  }
 
a{
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
  .p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
.text-align-md {
    text-align: center;
}

.align-center {
    padding-right: 15px;
    padding-left: 15px;
  }


  footer {
    background-color: #323544;
    padding: 27px 0 0;
  }
 
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
      width:750px
  }
}

@media (min-width: 992px) {
  .container {
      width:970px
  }
}

@media (min-width: 1260px) {
  .container {
      width:1200px
  }
}
@media (min-width: 1440px) {
  .container {
      width:1200px;
  }
}


      