$color-white:#fff;

.icon-search-1 {
    color: #fff;
}
.icon-search-2{
  color: #333645;
}
.icon-format-nav-laptop {
    color: #67809F;
  }

.icon-display {
      color: #4183D7;}
.icon-display-service{
    color: $color-white;
}     
.icon-digital{
    color: $color-white;
}
.icon-googlescholar-service{
    color: $color-white; 
}
.icon-googlescholar-service:hover{
    color: #D64542; 
}     
.icon-marketing {
        color: #2DCC71;
      } 
.icon-format-nav-telephone {
        color: #D64542;
      } 
.icon-format-nav-code {
        color: #926FB1;
      } 

.icon-format-nav-security {
        color: #F62459;
      }
       
.icon-format-nav-devloper {
        color: #F62459;
      } 
      
      .icon-circle-software {
        background-color: #67809f;
      }
      .icon-circle-it {
        background-color: #4183d7;
      }
      .icon-circle-dm {
        background-color: #2ecc71;
      }
      .icon-circle-ts {
        background-color: #d64541;
      }
      .icon-circle-wd {
        background-color: #926fb1;
      }
      .icon-circle-cs {
        background-color: #f62459;
      }
      .icon-circle-dt {
        background-color: #ce4125;
      }
      