//header//
.hidden-sm{
    @include viewport(small) {
        display:none;
         }  
}
.hidden-md{
    @include viewport(medium) {
        display:none;
         }
} 
.hidden-lg{
    @include viewport(large) {
        display:none;
         }
} 
 .hidden-xlg{
    @include viewport(x-large) {
        display:none;
         }
}
.hidden-xlg{
    @include viewport(xx-large) {
        display:none;
         }
} 
.header-large {
    @include viewport(large){
    justify-content: space-flex-start;
    padding-top: 25px;
    padding-bottom: 15px;
    }
}
.header-small{
    @include viewport(medium){
            margin-left: 15px;
            margin-right: 15px;
        padding: 15px 20px;
        }
}

.logo {
    @include viewport(x-large) {
    height: 64px;
         }
}
.search-bar{
    @include viewport(medium){
        font-size: 1em;
        fill: $white;
        position: relative;
        display: flex;
        width: 100%;
        margin-top: 0;
        margin-right: -2px !important;
        height: 57px !important;
        max-width: 243px;
    }
    @include viewport(large){
        max-width: 66px;
    }
}.search-box{
    @include viewport(medium){
        padding: 1em;
        flex: 1;
        background-color: $white;
        max-width: 175px;
        width: 142px;
        padding: 5px 15px;
        border: 1px 0 1px 1px $manatee;
    }    
}
input[type=text] {
    @include viewport(medium){
        border: 1px solid $input;
        outline: none;
        font-size: 1em;
        height: 57px;
    }
}
.header-row{
    @include viewport(medium){
        display: flex;
        gap: 20px;
        width: 100%;
        justify-content: flex-start;    
    }
    @include viewport(large){
        width: 970px;
    }
}
.search-bar button{
    @include viewport(medium){
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1em;
        padding: 16px 20px;
        border-radius: 3px;
        background-color: $manatee;
        border: none;
        outline: none;
        border-radius: 0 5% 5% 0;
        cursor: pointer;   
    }
    @include viewport(large){
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1em;
        padding: 14px 20px;
        border-radius: 3px;
        background-color: $manatee;
        border: none;
        outline: none;
        border-radius: 0 5% 5% 0;
        cursor: pointer;   
    }
    @include viewport(x-large){
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1em;
        padding: 14px 20px;
        border-radius: 3px;
        background-color: $manatee;
        border: none;
        outline: none;
        border-radius: 0 5% 5% 0;
        cursor: pointer;   
    }
    @include viewport(xx-large){
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1em;
        padding: 14px 20px;
        border-radius: 3px;
        background-color: $manatee;
        border: none;
        outline: none;
        border-radius: 0 5% 5% 0;
        cursor: pointer;   
    }
}
.btn-help{
    @include viewport(x-large){
        display: flex;
        align-items: center;
        justify-content: center;    
    } 
}
.header-elements{
    @include viewport(medium){
        display: flex;
        gap: 20px;
        width: 100%;
        justify-content: flex-start;
    }   
} 
.nav:hover .triangle{
    @include viewport(large){
        display: block;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 70px 36px 70px;
    border-color: transparent;
    transform: rotate(180deg);
    position: absolute;
    z-index: 2;
    }  
    @include viewport(x-large){
        display: block;
            content: "";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 90px 35px 90px;
            border-color: transparent;
            transform: rotate(180deg);
            position: absolute;
            z-index: 2;  
    }
    @include viewport(xx-large){
        display: block;
            content: "";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 105px 35px 105px;
            border-color: transparent;
            transform: rotate(180deg);
            position: absolute;
            z-index: 2;  
    }
}
.bottom-header{
    @include viewport(large){
        background-color: $tuna;   
    }   
}
.header-high{
    @include viewport(medium){
        justify-content: space-flex-start;
        padding-top: 25px;
        padding-bottom: 15px;
    }      
}
.nm-logo-black{
    @include viewport(medium){
        max-width: 345px;
    } 
    @include viewport(large){
        position: relative;
        left: 0;   
    }           
}
//carousel//
    .banner {
        @include viewport(large) {
            width: 950px;
                display: flex;
                justify-content: start;
                text-align: left;
                margin-left: auto;
                margin-right: auto;
             }
             @include viewport(x-large) {
                width: 950px;
                    display: flex;
                    justify-content: start;
                    text-align: left;
                    margin-left: auto;
                    margin-right: auto;
                 }
        
    }
    .wrapper {
        @include viewport(medium) {
            width: 750px;
            margin: auto;
             }
        
    }
        .banner-heading {
            @include viewport(large){
            font-size: 4.2rem;
            line-height: 5rem;
            margin-bottom: 0px;
            }
            @include viewport(x-large){
                font-size: 4.2rem;
                line-height: 5rem;
                margin-bottom: 0px;
                }
        }

        @media screen and (min-width: 992px){
            .banner {
                width: 950px;
                display: flex;
                justify-content: start;
                text-align: left;
                margin-left: auto;
                margin-right: auto;
            }
            }
//services//
.service-heading{
    @include viewport(x-large) {
        width:1200px;
         }  
}
.service-blocks{
    @include viewport(large){
      display: grid;
      grid-template-columns: auto auto auto;
        }
    @include viewport(x-large) {
        display: grid;
      grid-template-columns: auto auto auto;
            }  
}
.service-blocks-bottom{
    @include viewport(medium) {
        display: grid;
      grid-template-columns: auto auto;
         }
    @include viewport(large){
    display: grid;
    grid-template-columns: auto auto auto;
        }
        @include viewport(x-large) {
            display: grid;
      grid-template-columns: auto auto auto auto;
                  }         
} 
.service-block-one, .service-block-two{
    @include viewport(large){
        margin-right: 30px;
          }
      @include viewport(x-large) {
        margin-right: 30px
              }     
}
.service-block-five, .service-block-six, .service-block-seven, .service-block-five, .service-block-four{
    @include viewport(medium) {
        margin-left: 15px;
        margin-left: 15px;
         }
         @include viewport(large){
            margin-left: 15px;
            margin-right: 15px;
                }
                @include viewport(x-large) {
                    margin-left: 15px;
      margin-right: 15px;
                          }    
} 

    .service-block-three .p, .btn-dm .p {
        @include viewport(x-large) {
            margin-bottom: 40px;
                  }  
      
    }
//welcome//
    .welcome-grid {
        @include viewport(large){
            display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 15px;
                }
        
    }
    .welcome-left {
        @include viewport(large){
        grid-column-start: 1;
                }
    }
 .welcome-grid h2   
    .welcome-grid h2 {
        @include viewport(large){
            color: $white;
        font-weight: 600;
        font-size: 2.25rem;
                    }
        
    }
        .welcome-grid .button-black {
            @include viewport(large){
            padding: 10px 30px;
            margin-right: 30px;
            margin-bottom: 17px;
                        }
        }
        
    .welcome-right {
        @include viewport(large){
            grid-column-start: 2;
                    }
    }
//news//
.article-content{
    @include viewport(small){
        flex-direction: column;
        }
        @include viewport(medium){
            flex-direction: row;
      flex-wrap: wrap;
             }  
}
  .article-blocks{
    @include viewport(medium){
        display: flex;
      gap: 30px;
         }
         @include viewport(large){
            display: flex;
            gap: 30px;    
    }
    @include viewport(x-large){
        display: flex;
      gap: 30px;    
    }
          
  }

    .view-all-mobile {
        @include viewport(medium){
       display: block!important;;
        }
    }
 .block-one{
    @include viewport(medium){
        width: 50%;
      float: left;
    }    
 }
.block-two{
    @include viewport(medium){
            width: 50%;
            float: right;
    }    
 }        

.block-three{
    @include viewport(medium){
        display: none;
    }  
    @include viewport(large){
        display: none;    
}
@include viewport(x-large){
    display: block;    
}
}  
  //newsletter//
    .news-input {
        @include viewport(large){
        display: flex;
        flex-direction: row;
        gap: 30px;
            } 
    }
    #your-email, #your-name {
        @include viewport(large){
        width: 450px;
        display: block;
        box-sizing: border-box;
                }
    }
//footer//
.footer{
    @include viewport(large){
        flex-direction: row;
        }   
}
.about-footer h4, .about-footer h3{
    @include viewport(medium) {
        color: $white !important;
         }    
}
.copyright .license{
    @include viewport(small){
        flex-direction: column;
        }    
}
.about-netmatters{
    @include viewport(x-large) {
        justify-content: flex-start;
        width: 397px;
         }    
}
.links{
    @include viewport(large){
        display: grid;
        grid-template-columns: repeat(4, 25%);
        }
    @include viewport(x-large) {
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        margin-left: -15px;
        margin-right: -15px;
            }  
}
.footer-container{
    @include viewport(small){
        flex-wrap: wrap
        }      
} 
.footer-socials a{
    @include viewport(small){
        width: 35%;
        } 
}
.footer-li{
    @include viewport(medium){
        margin-top: 0px;
    }    
}
